.dashboard-sider {
  height: 100vh !important;
  background-color: #1677ff !important;
}

.ant-menu {
  background-color: #1677ff !important;
}

.dashboard-logo {
  color: #fff;
  padding: 24px;
  font-size: 20px;
  width: 200px;
}

.dashboard-main {
  margin: 0 !important;
  overflow: auto !important;
  height: calc(100vh - 64px) !important;
}

.dashboard-header {
  background-color: #1677FF !important;
  border-left: 1px solid #fff !important;
}

.ant-menu-item-selected {
  border: 1px solid #fff;
}

.dashboard-header svg {
  fill: #fff;
}

.ant-menu-item.active {
  background-color: #1677ff;
}

.menu a {
  font-family: "Poppins";
}
.menu a.active::before {
  background-color: #001529 !important;
}