.dashboard-sider {
  height: 100vh !important;
  .dashboard-logo {
    color: #fff;
    padding: 24px;
    font-size: 20px;
  }
}


.dashboard-main {
  overflow: auto !important;
  height: calc(100vh - 114px) !important;
}

.menu {
  a {
    font-family: "Poppins";
    ::before {
    }
  }

  a.active::before {
    background-color: #001529 !important;
  }
}
