.pagination {
  margin-top: 40px;
  text-align: center;
}

.skills-title {
  margin-bottom: 0;
  font-family: "Poppins";
}

.skills-table {
  td,
  th {
    font-family: "Poppins";
  }
}

.search-result-text {
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 16px;
  span {
    font-weight: 700;
  }
}

// Input[type="file"] style //

